body{
font-family:Arial,sans-serif;
background:#081120;
color:white;
margin:0;
padding:20px;
}

.container{
max-width:450px;
margin:auto;
}

.card{
background:#101d37;
padding:20px;
border-radius:20px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
cursor:pointer;
}

#loginStatus{
margin-top:15px;
padding:10px;
background:#12351f;
border-radius:10px;
}

#passportPreview{
width:100%;
margin-top:15px;
display:none;
border-radius:10px;
}